*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clr-header-bg: #94BD5F;
    --clr-text-dark: #314B30;
    --clr-border-dark: #055303;
    --clr-text-light: #87A187;
    --clr-text-bright: #ffffff;
    --clr-list-title-bg: #23530F;
    --clr-category-title-bg: #427C29;
    --clr-item-bg: #F3FFE4;
    --clr-body-bg: #D4E8BB;
    --clr-category-menu: #A9F846;
    --clr-add-new-item: #33A900;
}

html,
body{
    height: 100%;
    width: 100%;
    background: var(--clr-body-bg);
    color: var(--clr-text-dark)
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.nav svg,
.initial svg {
    width:24px;
    height:24px;
    fill: var(--clr-text-dark);
    transition: all 150ms ease-in-out;
}

button {
    cursor: pointer;
}

:focus {
    outline: none;
}


/*header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-header-bg);
    padding: 0.9rem 7%;
}

h1 {
    font-size: 1.5rem;
    color: var(--clr-text-dark);
}

.nav-btn {
    background: transparent;
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
}

.nav-btn svg:hover {
    fill: var(--clr-item-bg);
}

/* main*/

.main {
    position: relative;
    top: 4rem;
    height: calc(100% - 4rem);
}
    /* nav dropdown */

.nav-dropdown-menu {
    position: relative;
    top: -0.5rem;
    height: calc(100% + 0.5rem);
    background: rgba(196,196,196,0.55);
    z-index: 9;
    display: none;
}

.menu-nav {
    position: absolute;
    background: var(--clr-item-bg);
    right: 0;
    top: 0;
    font-size: 1.1rem;
    font-weight: 700;
    width: 80%;
    height: 100%;
}

.menu-nav div {
    margin-top: -1px;
    position: relative;
}

.menu-nav div.spacer {
    padding: 1.5rem;
}

.menu-nav svg {
    display: inline-block;
    width: 15px;
    height: 15px;
    fill: var(--clr-header-bg);
    margin-left: 1rem;
}

.menu-nav .trash-icon {
    width: 18px;
    height: 18px;  
}

.menu-nav .go-to-arrow {
    width: 19px;
    height: 19px;    
}

.menu-nav div::after {
    content: "";
    position: absolute;
    right: 0.7rem;
    left: 0.7rem;
    bottom: 0;
    height: 1px;
    background: currentColor;
    z-index: 11;
}

.menu-nav-list-btn {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.9rem 2rem;
}

.menu-nav-list-btn:focus {
    outline: none;
}


.menu-nav-list-btn:hover,
.menu-nav-list-btn:focus,
.menu-nav-list-btn::selection {
    color: var(--clr-text-bright);
    background-color: var(--clr-category-title-bg);
}

.menu-nav-list-btn:hover .icons-d-menu,
.menu-nav-list-btn:focus .icons-d-menu,
.menu-nav-list-btn::selection .icons-d-menu {
    fill: var(--clr-text-bright);    
}

/* initial UI */

.main-content-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.initial {
    margin-top: 10vh;
}

.initial h3 {
    text-align: center;
}

.dash-box {
    margin: 2rem auto;
    width: 75%;
    padding: 2rem;
    display: grid;
    place-items: center;
    border: 2px dashed var(--clr-text-dark);
}

/* current list*/

.current-list-wrapper {
    height: calc(100vh - 6.4rem);
    overflow: scroll;
    position: absolute;
    top: -0.5rem;
    width: 100%;
    padding: 0 7%;
}

.current-list {
    max-width: 500px;
    background: var(--clr-item-bg);
    padding-bottom: 1px;
}

.current-list h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 1.5rem;
}

.list-title {
    padding: 1rem 1.5rem ;
    background: var(--clr-list-title-bg);
    color: var(--clr-text-bright);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title span {
    font-size: 0.8rem;
}

.list-title span > span {
    font-size: 1rem;
}

.category-title {
    padding: 0.7rem 1.5rem;
    background: var(--clr-category-title-bg);
    color: var(--clr-text-bright);  
    border-bottom: 2px solid var(--clr-border-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-title h3 {
    font-size: 1.35rem;
    font-weight: 500;  
}

.menu-category {
    fill: var(--clr-category-menu)
}

.category ul {
    list-style: none;
    margin-left: -2.5rem;
}

li.item {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.7rem 1.5rem;
    position: relative;
}

li.item:last-child {
    margin-bottom: 1rem;
}

form {
    display: flex;
}

.item label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

li.item::after {
    content: "";
    position: absolute;
    right: 1.5rem;
    left: 1.5rem;
    bottom: 0;
    height: 1px;
    background: currentColor;
}

.new-item-btn {
    background: transparent;
    border: none;
    height: calc(24px + 1.4rem);
    width: 24px;
    margin-left: 1.2rem;
    padding: 0;
}

.plus-new-item {
    width: 24px;
    height: 24px;
    fill: var(--clr-add-new-item);
}

input.new-item {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    padding: 0.4rem 1rem 0.7rem;
    margin-bottom: 1rem;
    outline: none;
    order: 2;
    border-bottom: 2px solid var(--clr-border-dark);
    transition: 150ms ease-in-out;
    width: calc(100% - 4.2rem);
}

input.new-item:focus {
    border-bottom: 3px solid var(--clr-border-dark);
}

input.new-item::placeholder {
    color: var(--clr-text-light);
}

input.new-item:focus::placeholder {
    opacity: 0.3;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: 0.8rem;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.item:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color: var(--clr-category-title-bg);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-category-title-bg);
    border-color: var(--clr-category-title-bg);
    box-shadow: inset 0 0 0 2px var(--clr-body-bg);
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.item label::after {
    content:"";
    position: absolute;
    left: 1.2rem;
    right: -0.5rem;
    height: 2px;
    background: var(--clr-text-dark);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* add new item tab */

.add-new-category {
    position: fixed;
    bottom: -10px;
    z-index: 8;
    width: 100%;
    background-color: var(--clr-list-title-bg);
    border-radius: 5px;    
}

.arrow-container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 3.5rem;
}

.add-new-category svg {
    transform: rotate(-90deg) translateX(5px);
    fill: var(--clr-category-menu);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.new-category-btn-wrapper {
    width: 100%;
    padding:0 7% 2rem;
    display: none;
}

.new-category-btn {
    padding: 0.7rem 3rem;
    color: var(--clr-category-menu);
    background: transparent;
    border: 2px solid var(--clr-category-menu);
    font-size: 1rem;
    margin: 0.5rem auto 0.9rem;
    display: block;
}